In [345]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [346]:
df = pd.read_excel("D:/zoho/Rotten_Tomatoes_Movies3.xls")

In [347]:
df.head()

,movie_title,movie_info,critics_consensus,rating,genre,directors,writers,cast,in_theaters_date,on_streaming_date,runtime_in_minutes,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2010-06-29,83.0,20th Century Fox,Rotten,49,144,53.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2010-10-19,90.0,Sony Pictures Classics,Certified Fresh,86,140,64.0
2,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,1997-08-27,118.0,Waner Bros.,Fresh,68,22,53.0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2001-03-06,95.0,Criterion Collection,Certified Fresh,100,51,97.0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2003-05-20,127.0,Disney,Fresh,89,27,74.0

In [348]:
df.movie_info.values[0]

"A teenager discovers he's the descendant of a Greek god and sets out on an adventure to settle an on-going battle between the gods."

In [349]:
df.duplicated().sum()

1

In [350]:
# Remove duplicate rows based on all columns
df= df.drop_duplicates()

In [351]:
df.columns

Index(['movie_title', 'movie_info', 'critics_consensus', 'rating', 'genre',
       'directors', 'writers', 'cast', 'in_theaters_date', 'on_streaming_date',
       'runtime_in_minutes', 'studio_name', 'tomatometer_status',
       'tomatometer_rating', 'tomatometer_count', 'audience_rating'],
      dtype='object')

In [352]:
# Define the columns you want to check
columns = ['movie_title', 'movie_info', 'critics_consensus', 'rating', 'genre',
           'directors', 'writers', 'cast',
           'runtime_in_minutes', 'studio_name', 'tomatometer_status',
           'tomatometer_rating', 'tomatometer_count', 'audience_rating']

# Loop through each column to check data types and convert accordingly
for col in columns:
    # Check if the column is numeric (int64 or float64)
    if df[col].dtype in ['int64', 'float64']:
        df[col] = df[col].astype('Int64')  # Convert to integer (nullable Int64)
    else:
        df[col] = df[col].astype(str)  # Convert to string

In [353]:
df.columns

Index(['movie_title', 'movie_info', 'critics_consensus', 'rating', 'genre',
       'directors', 'writers', 'cast', 'in_theaters_date', 'on_streaming_date',
       'runtime_in_minutes', 'studio_name', 'tomatometer_status',
       'tomatometer_rating', 'tomatometer_count', 'audience_rating'],
      dtype='object')

In [356]:
#df.on_streaming_date.values[0], df.on_streaming_date.dtype
df['on_streaming_date'].values[0], df['on_streaming_date'].dtype

(numpy.datetime64('2010-06-29T00:00:00.000000000'), dtype('<M8[ns]'))

In [357]:
import re

# Define a function to clean non-alphanumeric characters
def clean_non_alphanumeric(value):
    if pd.notnull(value):
        return re.sub(r'[^a-zA-Z0-9\s]', '', str(value))
    return value

# Apply the function to each specified column
columns_to_clean = ['movie_title','movie_info','critics_consensus','cast','genre', 'directors', 'writers', 'studio_name']

for column in columns_to_clean:
    df[column] = df[column].apply(clean_non_alphanumeric)

In [358]:
from textblob import TextBlob

# List of columns to clean
columns_to_clean = ['movie_title', 'movie_info', 'critics_consensus', 'genre']

# Apply sentiment analysis and store the polarity for each column
for column in columns_to_clean:
    df[f'{column}_sentiment'] = df[column].apply(lambda x: TextBlob(str(x)).sentiment.polarity)

In [359]:
df.head()

,movie_title,movie_info,critics_consensus,rating,genre,directors,writers,cast,in_theaters_date,on_streaming_date,runtime_in_minutes,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating,movie_title_sentiment,movie_info_sentiment,critics_consensus_sentiment,genre_sentiment
0,Percy Jackson the Olympians The Lightning Thief,A teenager discovers hes the descendant of a G...,Though it may seem like just another Harry Pot...,PG,Action Adventure Comedy Drama Science Fiction...,Chris Columbus,Craig Titley,Logan Lerman Brandon T Jackson Alexandra Dadda...,2010-02-12,2010-06-29,83,20th Century Fox,Rotten,49,144,53,0.0,0.000000,0.245833,0.1
1,Please Give,Kate has a lot on her mind Theres the ethics p...,Nicole Holofceners newest might seem slight in...,R,Comedy,Nicole Holofcener,Nicole Holofcener,Catherine Keener Amanda Peet Oliver Platt Rebe...,2010-04-30,2010-10-19,90,Sony Pictures Classics,Certified Fresh,86,140,64,0.0,0.183825,0.055556,0.0
2,10,Blake Edwards 10 stars Dudley Moore as George ...,nan,R,Comedy Romance,Blake Edwards,Blake Edwards,Dudley Moore Bo Derek Julie Andrews Robert Web...,1979-10-05,1997-08-27,118,Waner Bros,Fresh,68,22,53,0.0,0.100000,0.000000,0.0
3,12 Angry Men Twelve Angry Men,A Puerto Rican youth is on trial for murder ac...,Sidney Lumets feature debut is a superbly writ...,NR,Classics Drama,Sidney Lumet,Reginald Rose,Martin Balsam John Fiedler Lee J Cobb EG Marsh...,1957-04-13,2001-03-06,95,Criterion Collection,Certified Fresh,100,51,97,-0.5,0.069968,0.491667,0.0
4,20000 Leagues Under The Sea,This 1954 Disney version of Jules Vernes 20000...,One of Disneys finest liveaction adventures 20...,G,Action Adventure Drama Kids Family,Richard Fleischer,Earl Felton,James Mason Kirk Douglas Paul Lukas Peter Lorr...,1954-01-01,2003-05-20,127,Disney,Fresh,89,27,74,0.0,0.375714,0.322917,0.1

In [360]:
# to check NULL values
for col in columns_to_clean:
    print(f'column name: {col}, null values: {df[col].isnull().sum()}')

column name: movie_title, null values: 0
column name: movie_info, null values: 0
column name: critics_consensus, null values: 0
column name: genre, null values: 0

In [361]:
# Drop rows with NaN values in 'movie_info' or 'genre'
df = df.dropna(subset=['movie_info', 'genre'])

# Fill NaN values in 'critics_consensus' with 'No critics'
df['critics_consensus'] = df['critics_consensus'].fillna('No critics')

In [362]:
from sklearn.feature_extraction.text import TfidfVectorizer
# TF-IDF
vectorizer = TfidfVectorizer(max_features=100)  # Limit to 100 features for simplicity
tfidf_matrix = vectorizer.fit_transform(df[column])  # Replace 'movie_info' with the column to process
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())

In [363]:
# Combine with Original DataFrame
df = pd.concat([df, tfidf_df], axis=1)

In [364]:
df.head()

,movie_title,movie_info,critics_consensus,rating,genre,directors,writers,cast,in_theaters_date,on_streaming_date,...,nan,performing,romance,science,special,spirituality,sports,suspense,television,western
0,Percy Jackson the Olympians The Lightning Thief,A teenager discovers hes the descendant of a G...,Though it may seem like just another Harry Pot...,PG,Action Adventure Comedy Drama Science Fiction...,Chris Columbus,Craig Titley,Logan Lerman Brandon T Jackson Alexandra Dadda...,2010-02-12,2010-06-29,...,0.0,0.0,0.000000,0.44946,0.0,0.0,0.0,0.0,0.0,0.0
1,Please Give,Kate has a lot on her mind Theres the ethics p...,Nicole Holofceners newest might seem slight in...,R,Comedy,Nicole Holofcener,Nicole Holofcener,Catherine Keener Amanda Peet Oliver Platt Rebe...,2010-04-30,2010-10-19,...,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0
2,10,Blake Edwards 10 stars Dudley Moore as George ...,nan,R,Comedy Romance,Blake Edwards,Blake Edwards,Dudley Moore Bo Derek Julie Andrews Robert Web...,1979-10-05,1997-08-27,...,0.0,0.0,0.834247,0.00000,0.0,0.0,0.0,0.0,0.0,0.0
3,12 Angry Men Twelve Angry Men,A Puerto Rican youth is on trial for murder ac...,Sidney Lumets feature debut is a superbly writ...,NR,Classics Drama,Sidney Lumet,Reginald Rose,Martin Balsam John Fiedler Lee J Cobb EG Marsh...,1957-04-13,2001-03-06,...,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0
4,20000 Leagues Under The Sea,This 1954 Disney version of Jules Vernes 20000...,One of Disneys finest liveaction adventures 20...,G,Action Adventure Drama Kids Family,Richard Fleischer,Earl Felton,James Mason Kirk Douglas Paul Lukas Peter Lorr...,1954-01-01,2003-05-20,...,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0

In [365]:
df.columns

Index(['movie_title', 'movie_info', 'critics_consensus', 'rating', 'genre',
       'directors', 'writers', 'cast', 'in_theaters_date', 'on_streaming_date',
       'runtime_in_minutes', 'studio_name', 'tomatometer_status',
       'tomatometer_rating', 'tomatometer_count', 'audience_rating',
       'movie_title_sentiment', 'movie_info_sentiment',
       'critics_consensus_sentiment', 'genre_sentiment', 'action', 'adventure',
       'animation', 'anime', 'art', 'arts', 'classics', 'comedy', 'cult',
       'documentary', 'drama', 'faith', 'family', 'fantasy', 'fiction',
       'fitness', 'gay', 'horror', 'house', 'interest', 'international',
       'kids', 'lesbian', 'manga', 'movies', 'musical', 'mystery', 'nan',
       'performing', 'romance', 'science', 'special', 'spirituality', 'sports',
       'suspense', 'television', 'western'],
      dtype='object')

In [366]:
# convert into lowercase
def lower():
    
    columns_to_clean= ['movie_title','movie_info','critics_consensus','cast','genre', 'directors', 'writers', 'studio_name']
    for col in columns_to_clean:
        df[col] = df[col].str.lower()
lower()

In [367]:
# Exploding the directors and writers columns in case there are multiple names
df_exploded = df.assign(directors=df['directors'].str.split(',')).explode('directors')
df_exploded = df_exploded.assign(writers=df_exploded['writers'].str.split(',')).explode('writers')

In [368]:
# Now group by exploded directors and writers
directors_rating = df_exploded.groupby('directors')['audience_rating'].mean().reset_index()
writers_rating = df_exploded.groupby('writers')['audience_rating'].mean().reset_index()

In [369]:
# Sort by ratings
directors_rating_sorted = directors_rating.sort_values(by='audience_rating', ascending=False)
writers_rating_sorted = writers_rating.sort_values(by='audience_rating', ascending=False)

In [370]:
# Merge the results back into the original dataframe
df = df.merge(directors_rating, how='left', on='directors', suffixes=('', '_directors_avg'))
df = df.merge(writers_rating, how='left', on='writers', suffixes=('', '_writers_avg'))

In [371]:
df.columns

Index(['movie_title', 'movie_info', 'critics_consensus', 'rating', 'genre',
       'directors', 'writers', 'cast', 'in_theaters_date', 'on_streaming_date',
       'runtime_in_minutes', 'studio_name', 'tomatometer_status',
       'tomatometer_rating', 'tomatometer_count', 'audience_rating',
       'movie_title_sentiment', 'movie_info_sentiment',
       'critics_consensus_sentiment', 'genre_sentiment', 'action', 'adventure',
       'animation', 'anime', 'art', 'arts', 'classics', 'comedy', 'cult',
       'documentary', 'drama', 'faith', 'family', 'fantasy', 'fiction',
       'fitness', 'gay', 'horror', 'house', 'interest', 'international',
       'kids', 'lesbian', 'manga', 'movies', 'musical', 'mystery', 'nan',
       'performing', 'romance', 'science', 'special', 'spirituality', 'sports',
       'suspense', 'television', 'western', 'audience_rating_directors_avg',
       'audience_rating_writers_avg'],
      dtype='object')

In [372]:
# remove unwanted columns
df = df.drop(columns=['movie_title','movie_info','critics_consensus','genre','directors','writers','cast','studio_name'])

In [373]:
df['in_theaters_date'].head(10), df['on_streaming_date'].head(10) # to check structure of the date columns

(0   2010-02-12
 1   2010-04-30
 2   1979-10-05
 3   1957-04-13
 4   1954-01-01
 5   2008-03-07
 6   1935-08-01
 7   1957-08-07
 8   2002-09-27
 9   1930-11-08
 Name: in_theaters_date, dtype: datetime64[ns],
 0   2010-06-29
 1   2010-10-19
 2   1997-08-27
 3   2001-03-06
 4   2003-05-20
 5   2008-06-24
 6   1935-06-06
 7   2002-04-02
 8   2003-08-01
 9   2008-11-18
 Name: on_streaming_date, dtype: datetime64[ns])

In [374]:

# Convert the date columns to datetime
df['in_theaters_date'] = pd.to_datetime(df['in_theaters_date'])
df['on_streaming_date'] = pd.to_datetime(df['on_streaming_date'])

# Function to check if the release date is a weekend
def is_weekend(date):
    return date.weekday() >= 5  # Saturday (5) and Sunday (6)

# Function to check if the date is in the summer period (June, July, August)
def is_summer(date):
    return date.month in [6, 7, 8]

# Function to check if the date is during the Christmas period (December)
def is_christmas_period(date):
    return date.month == 12

# Function to check if the date is a holiday period (for example, last week of December and New Year)
def is_holiday_period(date):
    # Define holiday period as Dec 20th to Jan 2nd (example)
    return (date.month == 12 and date.day >= 20) or (date.month == 1 and date.day <= 2)

# Adding features for weekday/weekend, seasonality, holidays
df['in_theaters_weekend'] = df['in_theaters_date'].apply(is_weekend)
df['on_streaming_weekend'] = df['on_streaming_date'].apply(is_weekend)

df['in_theaters_summer'] = df['in_theaters_date'].apply(is_summer)
df['on_streaming_summer'] = df['on_streaming_date'].apply(is_summer)

df['in_theaters_christmas'] = df['in_theaters_date'].apply(is_christmas_period)
df['on_streaming_christmas'] = df['on_streaming_date'].apply(is_christmas_period)

df['in_theaters_holiday'] = df['in_theaters_date'].apply(is_holiday_period)
df['on_streaming_holiday'] = df['on_streaming_date'].apply(is_holiday_period)

df.head()

,rating,in_theaters_date,on_streaming_date,runtime_in_minutes,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating,movie_title_sentiment,movie_info_sentiment,...,audience_rating_directors_avg,audience_rating_writers_avg,in_theaters_weekend,on_streaming_weekend,in_theaters_summer,on_streaming_summer,in_theaters_christmas,on_streaming_christmas,in_theaters_holiday,on_streaming_holiday
0,PG,2010-02-12,2010-06-29,83,Rotten,49,144,53,0.0,0.000000,...,64.153846,53.0,False,False,False,True,False,False,False,False
1,R,2010-04-30,2010-10-19,90,Certified Fresh,86,140,64,0.0,0.183825,...,59.4,54.833333,False,False,False,False,False,False,False,False
2,R,1979-10-05,1997-08-27,118,Fresh,68,22,53,0.0,0.100000,...,61.703704,57.833333,False,False,False,True,False,False,False,False
3,NR,1957-04-13,2001-03-06,95,Certified Fresh,100,51,97,-0.5,0.069968,...,65.733333,92.0,True,False,False,False,False,False,False,False
4,G,1954-01-01,2003-05-20,127,Fresh,89,27,74,0.0,0.375714,...,60.6875,74.0,False,False,False,False,False,False,True,False

In [375]:
# drop columns
df = df.drop(columns=['in_theaters_date','on_streaming_date'])

In [376]:
df.head()

,rating,runtime_in_minutes,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating,movie_title_sentiment,movie_info_sentiment,critics_consensus_sentiment,genre_sentiment,...,audience_rating_directors_avg,audience_rating_writers_avg,in_theaters_weekend,on_streaming_weekend,in_theaters_summer,on_streaming_summer,in_theaters_christmas,on_streaming_christmas,in_theaters_holiday,on_streaming_holiday
0,PG,83,Rotten,49,144,53,0.0,0.000000,0.245833,0.1,...,64.153846,53.0,False,False,False,True,False,False,False,False
1,R,90,Certified Fresh,86,140,64,0.0,0.183825,0.055556,0.0,...,59.4,54.833333,False,False,False,False,False,False,False,False
2,R,118,Fresh,68,22,53,0.0,0.100000,0.000000,0.0,...,61.703704,57.833333,False,False,False,True,False,False,False,False
3,NR,95,Certified Fresh,100,51,97,-0.5,0.069968,0.491667,0.0,...,65.733333,92.0,True,False,False,False,False,False,False,False
4,G,127,Fresh,89,27,74,0.0,0.375714,0.322917,0.1,...,60.6875,74.0,False,False,False,False,False,False,True,False

In [377]:
df['runtime_in_minutes'].describe()

count       16482.0
mean     102.392367
std       25.028519
min             1.0
25%            90.0
50%            99.0
75%           111.0
max          2000.0
Name: runtime_in_minutes, dtype: Float64

In [378]:
df['audience_rating'].isnull().sum()

253

In [379]:
# Find rows with missing values in multiple columns (e.g., 'runtime_in_minutes', 'movie_info', etc.)
missing_values = df[df[['runtime_in_minutes']].isnull().any(axis=1)]

# Display the rows with missing values along with their index
print(missing_values)

      rating  runtime_in_minutes tomatometer_status  tomatometer_rating  \
215       NR                <NA>              Fresh                  81
1818       R                <NA>             Rotten                  51
2007       R                <NA>             Rotten                  31
2056      NR                <NA>              Fresh                  67
2216       R                <NA>              Fresh                 100
...      ...                 ...                ...                 ...
15994     NR                <NA>             Rotten                  48
16229     NR                <NA>              Fresh                  80
16346  PG-13                <NA>             Rotten                  14
16583     NR                <NA>              Fresh                 100
16637    NaN                <NA>                NaN                <NA>

       tomatometer_count  audience_rating  movie_title_sentiment  \
215                   26              100               0.000000
1818                 166               62               0.433333
2007                 127               44              -0.700000
2056                  43               72              -0.800000
2216                   5               68               0.000000
...                  ...              ...                    ...
15994                 91               34               0.000000
16229                 10               75               0.000000
16346                124               32               0.000000
16583                  5               57               0.000000
16637               <NA>             <NA>                    NaN

       movie_info_sentiment  critics_consensus_sentiment  genre_sentiment  \
215                0.159954                     0.125000         0.178571
1818               0.210606                     0.016667         0.100000
2007               0.255423                    -0.065278         0.000000
2056              -0.100000                     0.066667         0.000000
2216               0.391667                     0.000000         0.100000
...                     ...                          ...              ...
15994             -0.220000                     0.023611         0.100000
16229              0.229167                     0.000000         0.100000
16346             -0.025000                     0.333333         0.000000
16583             -0.091667                     0.000000         0.000000
16637                   NaN                          NaN              NaN

       ...  audience_rating_directors_avg  audience_rating_writers_avg  \
215    ...                          100.0                        100.0
1818   ...                           62.0                         62.0
2007   ...                           44.0                         44.0
2056   ...                      56.666667                         72.0
2216   ...                           53.0                         68.0
...    ...                            ...                          ...
15994  ...                           63.5                         58.5
16229  ...                           75.0                         75.0
16346  ...                           60.5                         32.0
16583  ...                           40.0                         58.0
16637  ...                           <NA>                         <NA>

       in_theaters_weekend  on_streaming_weekend  in_theaters_summer  \
215                  False                 False               False
1818                 False                 False               False
2007                 False                 False               False
2056                 False                 False               False
2216                 False                 False               False
...                    ...                   ...                 ...
15994                False                 False               False
16229                False                 False               False
16346                False                 False               False
16583                False                 False               False
16637                False                 False               False

       on_streaming_summer  in_theaters_christmas  on_streaming_christmas  \
215                  False                  False                    True
1818                 False                  False                   False
2007                 False                  False                   False
2056                 False                  False                   False
2216                 False                  False                   False
...                    ...                    ...                     ...
15994                False                  False                   False
16229                 True                  False                   False
16346                False                  False                   False
16583                False                  False                   False
16637                False                  False                   False

       in_theaters_holiday  on_streaming_holiday
215                  False                 False
1818                 False                 False
2007                 False                 False
2056                 False                 False
2216                 False                 False
...                    ...                   ...
15994                False                 False
16229                False                 False
16346                False                 False
16583                False                 False
16637                False                 False

[156 rows x 57 columns]

In [380]:
# Fill missing values with median
df['runtime_in_minutes'] = df['runtime_in_minutes'].fillna(df['runtime_in_minutes'].median())

In [381]:
# Create new columns based on runtime_in_minutes
df['runtime_in_minutes_short'] = df['runtime_in_minutes'] < 30
df['runtime_in_minutes_small'] = (df['runtime_in_minutes'] > 30) & (df['runtime_in_minutes'] < 60)
df['runtime_in_minutes_medium'] = (df['runtime_in_minutes'] > 60) & (df['runtime_in_minutes'] < 90)
df['runtime_in_minutes_long'] = df['runtime_in_minutes'] > 90

In [382]:
df['runtime_in_minutes_short'] = df['runtime_in_minutes_short'].map({True: 1, False: 0})
df['runtime_in_minutes_small'] = df['runtime_in_minutes_small'].map({True: 1, False: 0})
df['runtime_in_minutes_medium'] = df['runtime_in_minutes_medium'].map({True: 1, False: 0})
df['runtime_in_minutes_long'] = df['runtime_in_minutes_long'].map({True: 1, False: 0})

In [383]:
df.head()

,rating,runtime_in_minutes,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating,movie_title_sentiment,movie_info_sentiment,critics_consensus_sentiment,genre_sentiment,...,in_theaters_summer,on_streaming_summer,in_theaters_christmas,on_streaming_christmas,in_theaters_holiday,on_streaming_holiday,runtime_in_minutes_short,runtime_in_minutes_small,runtime_in_minutes_medium,runtime_in_minutes_long
0,PG,83,Rotten,49,144,53,0.0,0.000000,0.245833,0.1,...,False,True,False,False,False,False,0,0,1,0
1,R,90,Certified Fresh,86,140,64,0.0,0.183825,0.055556,0.0,...,False,False,False,False,False,False,0,0,0,0
2,R,118,Fresh,68,22,53,0.0,0.100000,0.000000,0.0,...,False,True,False,False,False,False,0,0,0,1
3,NR,95,Certified Fresh,100,51,97,-0.5,0.069968,0.491667,0.0,...,False,False,False,False,False,False,0,0,0,1
4,G,127,Fresh,89,27,74,0.0,0.375714,0.322917,0.1,...,False,False,False,False,True,False,0,0,0,1

In [384]:
df.drop(df['runtime_in_minutes'])

,rating,runtime_in_minutes,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating,movie_title_sentiment,movie_info_sentiment,critics_consensus_sentiment,genre_sentiment,...,in_theaters_summer,on_streaming_summer,in_theaters_christmas,on_streaming_christmas,in_theaters_holiday,on_streaming_holiday,runtime_in_minutes_short,runtime_in_minutes_small,runtime_in_minutes_medium,runtime_in_minutes_long
0,PG,83,Rotten,49,144,53,0.0,0.000000,0.245833,0.10,...,False,True,False,False,False,False,0,0,1,0
3,NR,95,Certified Fresh,100,51,97,-0.5,0.069968,0.491667,0.00,...,False,False,False,False,False,False,0,0,0,1
4,G,127,Fresh,89,27,74,0.0,0.375714,0.322917,0.10,...,False,False,False,False,True,False,0,0,0,1
7,NR,92,Fresh,96,27,78,0.0,-0.060000,0.000000,0.00,...,True,False,False,False,False,False,0,0,0,1
9,NR,97,Fresh,90,10,38,0.0,0.197795,0.000000,0.00,...,False,False,False,False,False,False,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16633,PG,108,Certified Fresh,97,279,92,0.0,0.067573,0.278125,0.10,...,False,True,False,False,False,False,0,0,0,1
16634,NR,142,Fresh,78,9,87,0.0,0.113889,0.000000,0.05,...,False,True,True,False,False,False,0,0,0,1
16635,PG,139,Fresh,95,21,91,0.0,0.222222,0.000000,0.00,...,True,False,False,False,False,False,0,0,0,1
16636,PG,117,Rotten,57,7,62,0.0,-0.240000,0.000000,0.05,...,False,False,True,False,False,False,0,0,0,1
16637,NaN,99,NaN,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,0,0,0,1

In [385]:
df.isnull().sum()
# drop null values columns
df = df.dropna(subset=['runtime_in_minutes','tomatometer_status','tomatometer_rating','tomatometer_count'])
# after drop the column
df = df.drop(columns=['runtime_in_minutes'])

In [386]:
df.isnull().sum()

rating                             0
tomatometer_status                 0
tomatometer_rating                 0
tomatometer_count                  0
audience_rating                  252
movie_title_sentiment              0
movie_info_sentiment               0
critics_consensus_sentiment        0
genre_sentiment                    0
action                             1
adventure                          1
animation                          1
anime                              1
art                                1
arts                               1
classics                           1
comedy                             1
cult                               1
documentary                        1
drama                              1
faith                              1
family                             1
fantasy                            1
fiction                            1
fitness                            1
gay                                1
horror                             1
house                              1
interest                           1
international                      1
kids                               1
lesbian                            1
manga                              1
movies                             1
musical                            1
mystery                            1
nan                                1
performing                         1
romance                            1
science                            1
special                            1
spirituality                       1
sports                             1
suspense                           1
television                         1
western                            1
audience_rating_directors_avg    164
audience_rating_writers_avg      158
in_theaters_weekend                0
on_streaming_weekend               0
in_theaters_summer                 0
on_streaming_summer                0
in_theaters_christmas              0
on_streaming_christmas             0
in_theaters_holiday                0
on_streaming_holiday               0
runtime_in_minutes_short           0
runtime_in_minutes_small           0
runtime_in_minutes_medium          0
runtime_in_minutes_long            0
dtype: int64

In [387]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split, cross_val_score

In [388]:
# Split the dataset into features and target
X = df.drop('audience_rating', axis=1)  # Features (independent variables)
y = df['audience_rating']  # Target (dependent variable)

In [389]:
# Drop rows with missing values in the features (X) and align y accordingly
X = X.dropna()
y = y[X.index]  # Align y to X after dropping rows with missing values

# Fill missing values in the target variable (y) with the median value of y
y = y.fillna(y.median())

In [391]:
# Define categorical and numerical columns
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

categorical_columns = df.select_dtypes(exclude=['int64', 'float64']).columns.tolist()

In [392]:
numerical_columns = [col for col in numerical_columns if col != 'audience_rating']

In [393]:

# Define the preprocessing steps
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_columns),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_columns)
    ]
)

In [394]:
# Define the pipeline with Support Vector Regression
svr_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', SVR(kernel='rbf', C=1.0, epsilon=0.2))
])

In [395]:
# Linear Regression Pipeline
linear_regression_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),  # Preprocessing step
    ('model', LinearRegression())   # Linear Regression model
])

In [396]:
# Random Forest Regression Pipeline
random_forest_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),  # Preprocessing step
    ('model', RandomForestRegressor(n_estimators=100, random_state=42))  # Random Forest Regressor
])

In [397]:
# Split the dataset into features and target
X = df.drop('audience_rating', axis=1)
y = df['audience_rating']

In [398]:
# Drop rows with missing values in X and align y
X = X.dropna()
y = y[X.index]
y = y.fillna(y.median())

In [399]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [400]:
# Train the models
linear_regression_pipeline.fit(X_train, y_train)
random_forest_pipeline.fit(X_train, y_train)
svr_pipeline.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['tomatometer_rating',
                                                   'tomatometer_count',
                                                   'movie_title_sentiment',
                                                   'movie_info_sentiment',
                                                   'critics_consensus_sentiment',
                                                   'genre_sentiment', 'action',
                                                   'adventure', 'animation',
                                                   'anime', 'art', 'arts',
                                                   'classics', 'comedy', 'cult',
                                                   'documentary', 'drama',
                                                   'faith', 'family', 'fant...
                                                   'interest', 'international',
                                                   'kids', 'lesbian', 'manga', ...]),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['rating',
                                                   'tomatometer_status',
                                                   'in_theaters_weekend',
                                                   'on_streaming_weekend',
                                                   'in_theaters_summer',
                                                   'on_streaming_summer',
                                                   'in_theaters_christmas',
                                                   'on_streaming_christmas',
                                                   'in_theaters_holiday',
                                                   'on_streaming_holiday'])])),
                ('model', SVR(epsilon=0.2))])

In [401]:
# Predict on the test set
y_pred_lr = linear_regression_pipeline.predict(X_test)
y_pred_rf = random_forest_pipeline.predict(X_test)
y_pred_svr = svr_pipeline.predict(X_test)

In [402]:
# Linear Regression Metrics
mse_lr = mean_squared_error(y_test, y_pred_lr)
r2_lr = r2_score(y_test, y_pred_lr)

# Random Forest Metrics
mse_rf = mean_squared_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)

# Support Vector Regression Metrics
mse_svr = mean_squared_error(y_test, y_pred_svr)
r2_svr = r2_score(y_test, y_pred_svr)

In [403]:

# Display the results
print("Linear Regression - MSE:", mse_lr, "R²:", r2_lr)
print("Random Forest Regression - MSE:", mse_rf, "R²:", r2_rf)
print("Support Vector Regression - MSE:", mse_svr, "R²:", r2_svr)

Linear Regression - MSE: 65.70031924024269 R²: 0.842946446135214
Random Forest Regression - MSE: 51.60380048691418 R²: 0.8766435178227406
Support Vector Regression - MSE: 83.41052145324039 R²: 0.800611032405419